.table {
    .tableHead {
        height: 8vh;

        .columnsTitles {
            padding: 0.5%;
            color: white;
            background-color: $blue;
            font-weight: bolder;
        }
    }

    .rowInfo{
        font-size: 18px;
        padding: 3px;
    }

}

.added{
    padding-top: 2%;
}